body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    margin: 0;
}

.traffic-light {
    width: 100px;
    background-color: #000000;
    padding: 20px;
    border-radius: 10px;
}

.light {
    width: 60px;
    height: 60px;
    margin: 15px auto;
    background-color: gray;
    border-radius: 50%;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}